In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list the files in the input directory

import os
print(os.listdir("../input"))

# Any results you write to the current directory are saved as output.

['train.csv', 'sampleSubmission.csv', 'test.csv']

In [2]:
import numpy as np
import pandas as pd
train = pd.read_csv("../input/train.csv", parse_dates = ["datetime"])
test = pd.read_csv("../input/test.csv", parse_dates = ["datetime"])

train["year"] = train["datetime"].dt.year
train["hour"] = train["datetime"].dt.hour
train["dayofweek"] = train["datetime"].dt.dayofweek

test["year"] = test["datetime"].dt.year
test["hour"] = test["datetime"].dt.hour
test["dayofweek"] = test["datetime"].dt.dayofweek

y_casual = np.log1p(train.casual)
y_registered = np.log1p(train.registered)
#y_train = np.log1p(train["count"])

train.drop(["datetime", "windspeed", "casual", "registered", "count"], 1, inplace=True)
test.drop(["datetime", "windspeed", ], 1, inplace=True)
import lightgbm as lgb
hyperparameters = { 'colsample_bytree': 0.725,  'learning_rate': 0.013,
                    'num_leaves': 56, 'reg_alpha': 0.754, 'reg_lambda': 0.071, 
                    'subsample': 0.523, 'n_estimators': 1093}
model = lgb.LGBMRegressor(**hyperparameters)
model.fit(train, y_casual)
preds1 = model.predict(test)

hyperparameters = { 'colsample_bytree': 0.639,  'learning_rate': 0.011,
                    'num_leaves': 30, 'reg_alpha': 0.351, 'reg_lambda': 0.587,
                   'subsample': 0.916, 'n_estimators': 2166}
model = lgb.LGBMRegressor(**hyperparameters, )
model.fit(train, y_registered)
preds2 = model.predict(test)

submission=pd.read_csv("../input/sampleSubmission.csv")
submission["count"] = np.expm1(preds1) + np.expm1(preds2)
#submission.to_csv("allrf.csv", index=False)

In [3]:
#1.   , row 
pd.options.display.max_rows = 200
#2.submisson  holiday  
submission["holiday"] = test["holiday"]
#3.loc,iloc :   , holiday==1  
submission.loc[(submission["holiday"]==1)]
#   ?
# 3.1  .
# 3.2 train count     0~100 .
#     , test   0~100,
#       200~ .
# 3.3  =1      .
#     =>   . 
# 3.4 train set(1~19)  test set     .
#     =>  
##      .
##  =

                 datetime       count  holiday
280   2011-02-21 00:00:00   18.103552        1
281   2011-02-21 01:00:00   11.653671        1
282   2011-02-21 02:00:00    7.284178        1
283   2011-02-21 03:00:00    4.600606        1
284   2011-02-21 04:00:00    2.121366        1
285   2011-02-21 05:00:00    4.173258        1
286   2011-02-21 06:00:00    7.954555        1
287   2011-02-21 07:00:00   25.744144        1
288   2011-02-21 08:00:00   74.257252        1
289   2011-02-21 09:00:00   78.969102        1
290   2011-02-21 10:00:00   84.217778        1
291   2011-02-21 11:00:00   95.475510        1
292   2011-02-21 12:00:00  102.258204        1
293   2011-02-21 13:00:00   40.302978        1
294   2011-02-21 14:00:00   86.381433        1
295   2011-02-21 15:00:00   81.775065        1
296   2011-02-21 16:00:00   52.805783        1
297   2011-02-21 17:00:00   97.480899        1
298   2011-02-21 18:00:00   71.251337        1
299   2011-02-21 19:00:00   58.870621        1
300   2011-02-21 20:00:00   33.386104        1
301   2011-02-21 21:00:00   22.359585        1
302   2011-02-21 22:00:00   16.155495        1
303   2011-02-21 23:00:00   10.178345        1
1248  2011-05-30 00:00:00   49.296747        1
1249  2011-05-30 01:00:00   32.739168        1
1250  2011-05-30 02:00:00   21.081393        1
1251  2011-05-30 03:00:00   12.170860        1
1252  2011-05-30 04:00:00    5.888280        1
1253  2011-05-30 05:00:00    9.213685        1
1254  2011-05-30 06:00:00   20.680762        1
1255  2011-05-30 07:00:00   52.880366        1
1256  2011-05-30 08:00:00  108.339537        1
1257  2011-05-30 09:00:00  189.319480        1
1258  2011-05-30 10:00:00  216.253524        1
1259  2011-05-30 11:00:00  261.648372        1
1260  2011-05-30 12:00:00  278.475079        1
1261  2011-05-30 13:00:00  269.752325        1
1262  2011-05-30 14:00:00  255.982445        1
1263  2011-05-30 15:00:00  261.594170        1
1264  2011-05-30 16:00:00  308.468475        1
1265  2011-05-30 17:00:00  395.175795        1
1266  2011-05-30 18:00:00  376.647660        1
1267  2011-05-30 19:00:00  237.120460        1
1268  2011-05-30 20:00:00  279.627064        1
1269  2011-05-30 21:00:00  226.095842        1
1270  2011-05-30 22:00:00  141.367593        1
1271  2011-05-30 23:00:00   73.516599        1
2771  2011-11-24 00:00:00   44.072936        1
2772  2011-11-24 01:00:00   24.451617        1
2773  2011-11-24 02:00:00   13.353522        1
2774  2011-11-24 03:00:00    8.411156        1
2775  2011-11-24 04:00:00    4.714777        1
2776  2011-11-24 05:00:00   11.132078        1
2777  2011-11-24 06:00:00   30.008313        1
2778  2011-11-24 07:00:00   71.223487        1
2779  2011-11-24 08:00:00  175.835481        1
2780  2011-11-24 09:00:00  176.933941        1
2781  2011-11-24 10:00:00  169.115206        1
2782  2011-11-24 11:00:00  200.695357        1
2783  2011-11-24 12:00:00  258.113221        1
2784  2011-11-24 13:00:00  259.964798        1
2785  2011-11-24 14:00:00  248.383651        1
2786  2011-11-24 15:00:00  260.612101        1
2787  2011-11-24 16:00:00  304.587573        1
2788  2011-11-24 17:00:00  358.489952        1
2789  2011-11-24 18:00:00  270.535176        1
2790  2011-11-24 19:00:00  213.642007        1
2791  2011-11-24 20:00:00  140.553626        1
2792  2011-11-24 21:00:00  121.149942        1
2793  2011-11-24 22:00:00  101.401542        1
2794  2011-11-24 23:00:00   71.986059        1
3081  2011-12-26 00:00:00   14.856606        1
3082  2011-12-26 01:00:00    9.885836        1
3083  2011-12-26 02:00:00    6.785212        1
3084  2011-12-26 04:00:00    2.183651        1
3085  2011-12-26 05:00:00    3.977327        1
3086  2011-12-26 06:00:00    8.214030        1
3087  2011-12-26 07:00:00   25.259030        1
3088  2011-12-26 08:00:00   70.447880        1
3089  2011-12-26 09:00:00   72.993017        1
3090  2011-12-26 10:00:00   83.614472        1
3091  2011-12-26 11:00:00   88.708793        1
3092  2011-12-26 12:00:00  112.073281        1
3093  2011-12-26 13:00:00  118.103664        1
3094  2011-12-26 14:00:00  109.472642        1
3095  2011-12-26 15:00:00  113.710609        1
3096  2011-12-26 16:00:00  112.064437        1
3097  2011-12-26 17:00:00  129.653650        1
3098  2011-12-26 18:00:00  115.345548        1
3099  2011-12-26 19:00:00   73.419670        1
3100  2011-12-26 20:00:00   58.375156        1
3101  2011-12-26 21:00:00   43.128777        1
3102  2011-12-26 22:00:00   33.335800        1
3103  2011-12-26 23:00:00   18.624433        1
3511  2012-02-20 00:00:00   26.343811        1
3512  2012-02-20 01:00:00   18.041870        1
3513  2012-02-20 02:00:00   11.258012        1
3514  2012-02-20 03:00:00    7.644987        1
3515  2012-02-20 05:00:00    7.629222        1
3516  2012-02-20 06:00:00   14.249037        1
3517  2012-02-20 07:00:00   44.033379        1
3518  2012-02-20 08:00:00  136.509512        1
3519  2012-02-20 09:00:00  137.641328        1
3520  2012-02-20 10:00:00  129.347562        1
3521  2012-02-20 11:00:00  136.563168        1
3522  2012-02-20 12:00:00  168.233478        1
3523  2012-02-20 13:00:00  173.006156        1
3524  2012-02-20 14:00:00  163.408709        1
3525  2012-02-20 15:00:00  177.744707        1
3526  2012-02-20 16:00:00  223.018655        1
3527  2012-02-20 17:00:00  285.721870        1
3528  2012-02-20 18:00:00  227.110866        1
3529  2012-02-20 19:00:00  167.972272        1
3530  2012-02-20 20:00:00  124.735157        1
3531  2012-02-20 21:00:00   89.559378        1
3532  2012-02-20 22:00:00   65.532978        1
3533  2012-02-20 23:00:00   40.372011        1
4492  2012-05-28 00:00:00   77.262231        1
4493  2012-05-28 01:00:00   41.726945        1
4494  2012-05-28 02:00:00   26.892835        1
4495  2012-05-28 03:00:00   14.757898        1
4496  2012-05-28 04:00:00    9.203448        1
4497  2012-05-28 05:00:00   21.071951        1
4498  2012-05-28 06:00:00   44.447835        1
4499  2012-05-28 07:00:00  119.149737        1
4500  2012-05-28 08:00:00  211.422394        1
4501  2012-05-28 09:00:00  243.251493        1
4502  2012-05-28 10:00:00  266.882863        1
4503  2012-05-28 11:00:00  324.697624        1
4504  2012-05-28 12:00:00  406.152828        1
4505  2012-05-28 13:00:00  359.989809        1
4506  2012-05-28 14:00:00  345.522192        1
4507  2012-05-28 15:00:00  353.801793        1
4508  2012-05-28 16:00:00  403.015693        1
4509  2012-05-28 17:00:00  528.902190        1
4510  2012-05-28 18:00:00  522.233241        1
4511  2012-05-28 19:00:00  458.397250        1
4512  2012-05-28 20:00:00  362.050735        1
4513  2012-05-28 21:00:00  280.367611        1
4514  2012-05-28 22:00:00  206.403718        1
4515  2012-05-28 23:00:00  124.185922        1
5992  2012-11-22 00:00:00   61.869118        1
5993  2012-11-22 01:00:00   31.963202        1
5994  2012-11-22 02:00:00   19.296560        1
5995  2012-11-22 03:00:00   11.552098        1
5996  2012-11-22 04:00:00    6.368119        1
5997  2012-11-22 05:00:00   15.023160        1
5998  2012-11-22 06:00:00   37.728235        1
5999  2012-11-22 07:00:00   96.035422        1
6000  2012-11-22 08:00:00  248.908324        1
6001  2012-11-22 09:00:00  225.388986        1
6002  2012-11-22 10:00:00  269.014903        1
6003  2012-11-22 11:00:00  319.313742        1
6004  2012-11-22 12:00:00  379.198374        1
6005  2012-11-22 13:00:00  386.042988        1
6006  2012-11-22 14:00:00  366.923937        1
6007  2012-11-22 15:00:00  386.493454        1
6008  2012-11-22 16:00:00  423.497981        1
6009  2012-11-22 17:00:00  502.294197        1
6010  2012-11-22 18:00:00  425.752674        1
6011  2012-11-22 19:00:00  279.850413        1
6012  2012-11-22 20:00:00  216.214712        1
6013  2012-11-22 21:00:00  192.242895        1
6014  2012-11-22 22:00:00  153.985884        1
6015  2012-11-22 23:00:00  102.428302        1
6326  2012-12-25 00:00:00   18.522038        1
6327  2012-12-25 01:00:00   17.345856        1
6328  2012-12-25 02:00:00   10.352371        1
6329  2012-12-25 04:00:00    3.879677        1
6330  2012-12-25 05:00:00    6.877080        1
6331  2012-12-25 06:00:00   14.538529        1
6332  2012-12-25 07:00:00   42.676101        1
6333  2012-12-25 08:00:00  136.690017        1
6334  2012-12-25 09:00:00  140.625918        1
6335  2012-12-25 10:00:00  138.921310        1
6336  2012-12-25 11:00:00  153.738803        1
6337  2012-12-25 12:00:00  173.125543        1
6338  2012-12-25 13:00:00  193.188890        1
6339  2012-12-25 14:00:00  196.049730        1
6340  2012-12-25 15:00:00  179.405881        1
6341  2012-12-25 16:00:00  200.439558        1
6342  2012-12-25 17:00:00  246.445100        1
6343  2012-12-25 18:00:00  218.135277        1
6344  2012-12-25 19:00:00  165.228012        1
6345  2012-12-25 20:00:00  121.255023        1
6346  2012-12-25 21:00:00   91.727764        1
6347  2012-12-25 22:00:00   76.541135        1
6348  2012-12-25 23:00:00   42.537362        1

In [4]:
#loc:   ,    .
#iloc:     .
# ,  (1)
#(count) 50%   
# 
submission.iloc[1258:1269, 1]= submission.iloc[1258:1269, 1]*0.5
submission.iloc[4492:4515, 1]= submission.iloc[4492:4515, 1]*0.5
# 
submission.iloc[6308:6330, 1]= submission.iloc[6308:6330, 1]*0.5
submission.iloc[3041:3063, 1]= submission.iloc[3041:3063, 1]*0.5
#
submission.iloc[6332:6354, 1]= submission.iloc[6332:6354, 1]*0.5
submission.iloc[3065:3087, 1]= submission.iloc[3065:3087, 1]*0.5
#
submission.iloc[5992:6015, 1]= submission.iloc[5992:6015, 1]*0.5
submission.iloc[2771:2794, 1]= submission.iloc[2771:2794, 1]*0.5

In [5]:
submission.drop("holiday",1,inplace=True)
submission.to_csv("allrf2.csv", index=False)